* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* common */
.inner {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
}

.w100 {
  width: 100%;
  background: rgb(255, 255, 255);
  margin-top: 16px;
}

/* nav */
nav {
  width: 100%;
  background: rgb(255, 255, 255);
  height: 50px;
}

.gnb {
  display: flex;
}

.gnb li {
  height: 100%;
}

.gnb a {
  display: block;
  margin-left: 90px;
  margin-top: 10px;
  color: #666;
  font-size: 18px;
  line-height: 1.2rem;
}

.gnb .w100 {
  overflow: hidden;
  height: 0;
}

.depth1 > a {
  color: #666;
  font-weight: bold;
}

.depth2 > a {
  color: #000000;
  font-weight: bold;
}

.depth2 > ul > li > a {
  font-size: 16px;
}

.depth1:hover .w100 {
  height: auto;
  border-top: 1px solid #777;
}

.depth1 > a:hover,
.depth2 > a:hover {
  color: #6c801a;
}

/* 투뎁스 100%로 드롭다운 */
nav {
  position: relative;
}

nav > .gnb > .depth1 > .w100 {
  position: absolute;
  left: 0;
}
